---
BasedOnStyle: LLVM
IndentWidth: 4
AccessModifierOffset: -4
UseTab: Never
ColumnLimit: 0

BinPackArguments: false
BinPackParameters: OnePerLine
PointerAlignment: Left

AlignAfterOpenBracket: BlockIndent

BreakConstructorInitializers: AfterColon
PackConstructorInitializers: CurrentLine

SpaceBeforeCaseColon: false
SpaceBeforeCtorInitializerColon: false
SpaceBeforeInheritanceColon: false

InsertBraces: true
BreakBeforeBraces: Attach
BraceWrapping:
  AfterCaseLabel:         false
  AfterClass:             false
  AfterControlStatement:  true
  AfterEnum:              false
  AfterFunction:          false
  AfterNamespace:         false
  AfterStruct:            false
  AfterUnion:             false
  AfterExternBlock:       false
  BeforeCatch:            false
  BeforeElse:             false
  IndentBraces:           false
  SplitEmptyFunction:     true
